{% extends "template.njk" %}

{% block main %}
  
<body class="theme__primary">
    
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDT8N6M" height="0" width="0" style="display:none;visibility:hidden" title="Google Tag Manager" aria-hidden="true"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<noscript>Cookie Consent by <a href="https://www.PrivacyPolicies.com/cookie-consent/" rel="nofollow noopener">PrivacyPolicies.com</a></noscript>

<div>
    

    
<div class="t-area-color">
    <header class="ncc-header t-area-color__background">
        <div class="container hidden-print">
            
<a href="#main" class="skip-to">Skip to content</a>

<div class="header-menu container">
    <div class="mobtop">

        <a id="logo" href="https://www.norfolk.gov.uk/">
            <img src="https://www.norfolk.gov.uk/-/media/norfolk/images/ncc-branding/new-ncc-logo-doubledecker-coloured-medium.png" alt="NCC Logo">
        </a>
        {# <button class="collapsed" data-toggle="collapse" id="topmenutoggle" aria-haspopup="true" aria-expanded="false">Services<span class="glyphicon glyphicon-triangle-bottom icons" aria-hidden="true"></span></button> #}
        
{# <div id="mainMenu" class="mainMenuDropDown collapse">
    <div class="container mainMenuList">
        <ul class="clearfix">
                <li>
                    <a href="https://www.norfolk.gov.uk/accessibility-statement" tab-index="0">Accessibility statement</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/births-ceremonies-and-deaths" tab-index="1">Births, ceremonies and deaths</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/business" tab-index="2">Business</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/care-support-and-health" tab-index="3">Care, support and health</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/children-and-families" tab-index="4">Children and families</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/education-and-learning" tab-index="5">Education and learning</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/jobs-training-and-volunteering" tab-index="6">Jobs, training and volunteering</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/libraries-local-history-and-archives" tab-index="7">Libraries, local history and archives</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/out-and-about-in-norfolk" tab-index="8">Out and about in Norfolk</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/roads-and-transport" tab-index="9">Roads and transport</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/rubbish-recycling-and-planning" tab-index="10">Rubbish, recycling and planning</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/safety" tab-index="11">Safety</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/what-we-do-and-how-we-work" tab-index="12">What we do and how we work</a>
                </li>
        </ul>
    </div>
</div> #}

                    {# <button class="signin" href="#">Sign in</button> #}

    </div>
    {# <div class="search-form">
        <form action="https://www.norfolk.gov.uk/search" method="get" novalidate="novalidate">
            <div class="search-inputs">
                <div id="searchUrl" data-name="https://www.norfolk.gov.uk/search" hidden="hidden"></div>
                <label for="search-input" class="visually-hidden">Search</label>
                <input id="search-input" type="text" name="searchFor" data-include-content-type="true" placeholder="Find services and information..." class="ui-autocomplete-input" autocomplete="off">
                <button type="submit" class="search"><svg viewBox="0 0 16 16" role="presentation" aria-hidden="true" focusable="false" style="margin-right: 3px;height: 16px; width: 16px; display: inline-block;"><path d="m2.5 7c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5m13.1 6.9-2.8-2.9c.7-1.1 1.2-2.5 1.2-4 0-3.9-3.1-7-7-7s-7 3.1-7 7 3.1 7 7 7c1.5 0 2.9-.5 4-1.2l2.9 2.8c.2.3.5.4.9.4.3 0 .6-.1.8-.4.5-.5.5-1.2 0-1.7"></path></svg> Search</button>
            </div>
        </form>
    </div> #}

    <div class="overlayer" aria-hidden="true"></div>
    <div id="account-panel" aria-labelledby="account-panel" role="dialog" aria-hidden="true">
        
        <div>
                        <div class="titlebar">
                            <h2 id="signin-title">My Norfolk: Sign in or register </h2>
                            <a id="close" href="#" class="btn-signin btn-tertiary closer" role="button" aria-label="Close">Close</a>
                        </div>
                        <p>The My Norfolk account sign in process is managed by Microsoft.</p>
                        <p>
                            We may ask you to change your password if you have not used your MyNorfolk account recently.
                        </p>


<a class="signin-header btn-signin btn-account-green" href="https://my.norfolk.gov.uk/sign-in">Sign in</a>                        <a class="btn btn-tertiary" href="https://www.norfolk.gov.uk/my-norfolk-help">Help with My Norfolk account</a>
        </div>
        <h4>Services with a different sign in:</h4>
        <ul>
                <li><a href="https://www.norfolk.gov.uk/careers">Jobs</a></li>
                            <li><a href="https://norfolk.spydus.co.uk/cgi-bin/spydus.exe/MSGTRN/OPAC/BRWREG">Library account</a></li>
                            <li><a href="https://www.admissionsonline.norfolk.gov.uk/ENROL/">School applications</a></li>
                        <li><a href="https://enrol.norfolk.gov.uk/MyAccountSrc.asp">Adult learning course bookings</a></li>
        </ul>
    </div>
</div>
        </div>
    </header>
   



</div>


    





{# <div class="stage-class stage_apperance_dark">
    <div style="background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%), url(https://www.norfolk.gov.uk/-/media/norfolk/images/homepage-carousel/autumn-brown-oak-leaves-1920-961.jpeg)" class="stage-container  stage-container-padding ">

        <div class="container">


            <div class="col-md-12">
                
            </div>

            <div class="row stage-container-row-spacing stage-container-logo">
                <div class="col-md-12">
                    
                </div>
            </div>
            <div class="row stage-container-row-spacing">
                <div class="col-md-12">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-margin no-bottom-margin">
                    
<div>
        <div class="card dark ">
            <div class="per20">
                <img src="https://www.norfolk.gov.uk/-/media/norfolk/images/action-cards/dr-hilary-crop.jpg?h=445&amp;w=466&amp;la=en&amp;hash=5477FCABE293B4BF71D25BE9EC3BAE71" alt="">
            </div>
            <div class="per80">
                <h2>Get Ready to Change </h2>
                <p>“One of the best free health improvement tools I’ve seen” - Dr Hilary Jones, GP, ITV Good Morning Britain
</p>
                <a class="a-button-green" href="https://www.norfolk.gov.uk/care-support-and-health/health-and-wellbeing/adults-health/ready-to-change">Ready to Change</a>
            </div>
        </div>
</div>

                </div>
                <div class="col-md-6 col-margin no-bottom-margin">
                    
<div>
        <div class="card dark ">
            <div class="per20">
                <img src="https://www.norfolk.gov.uk/-/media/norfolk/images/action-cards/home-page/piggybank-480-x-480.jpg?h=480&amp;w=480&amp;la=en&amp;hash=201AEB81A3E0F831125BDAC829D8DCFB" alt="">
            </div>
            <div class="per80">
                <h2>Help with living costs</h2>
                <p>Includes financial help and accessing food </p>
                <a class="a-button-green" href="https://www.norfolk.gov.uk/what-we-do-and-how-we-work/campaigns/help-with-living-costs">Help with living costs</a>
            </div>
        </div>
</div>

                </div>
            </div>

        </div>
    </div>

    <hero>
    </hero>

</div>
<div class="ScrollIcon stage_apperance_dark">
    <div class="ScrollIconContainer">
        <svg viewBox="0 0 24 24">
            <path fill="#000000" d="M16.59,5.59L18,7L12,13L6,7L7.41,5.59L12,10.17L16.59,5.59M16.59,11.59L18,13L12,19L6,13L7.41,11.59L12,16.17L16.59,11.59Z"></path>
        </svg>
    </div>
</div>
<div id="ScrollTo"></div>

<h1 class="visually-hidden">Norfolk County Council</h1>

<div>



</div> #}

<div class="container">
    <h1>Website Unavailable</h1>
    <p>We're sorry, but this website is currently unavailable. We appologise for any inconvenience. Our engineers are working hard to fix the problem and the website will be live as soon as possible.</p>
    <p>For emergencies only, call 0344 800 8020 for further instructions and advice.</p>
    <p>For more information, please check our social media pages:</p>
    <ul>
        <li><a href="https://www.facebook.com/Norfolkcc">Facebook</a></li>
        <li><a href="https://twitter.com/NorfolkCC">Twitter</a></li>
    </ul>
</div>

<!--
<div class="mainContent row-margin-top ">
    <div class="container">
        <div class="row">
            <div id="main" class="col-md-12">
                


        <div class="row col-narrow">
            <div class="col-md-4 col-margin">
                
        <div class="GeneralCard  ">
            <article class="card light  top" data-mh="generalcard" style="">

            <div class="Information">
                <h1 class="Title" data-mh="generalcard-title" style="">Coronavirus</h1>
                <div class="Details" data-mh="generalcard-details" style="">Latest information and how to stay safe</div>
                        <div class="Link right" data-mh="generalcard-link" style="">
                            <a href="https://www.norfolk.gov.uk/care-support-and-health/health-and-wellbeing/adults-health/coronavirus" class="btn-link right">
                                <span>
                                    Coronavirus information
                                </span>
                                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                    <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
                                                </svg>



                            </a>
                        </div>

            </div>
            </article>
        </div>

            </div>
            <div class="col-md-4 col-margin">
                
        <div class="GeneralCard  ">
            <article class="card light  top" data-mh="generalcard" style="">

            <div class="Information">
                <h1 class="Title" data-mh="generalcard-title" style="">Tax and spending plans</h1>
                <div class="Details" data-mh="generalcard-details" style="">Have your say on tax and spending plans until 16 December 2022
</div>
                        <div class="Link right" data-mh="generalcard-link" style="">
                            <a href="https://www.norfolk.gov.uk/news/2022/10/have-your-say-on-tax-and-spending-plans" class="btn-link right">
                                <span>
                                    Have your say
                                </span>
                                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                    <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
                                                </svg>



                            </a>
                        </div>

            </div>
            </article>
        </div>

            </div>
            <div class="col-md-4 col-margin">
                
        <div class="GeneralCard  ">
            <article class="card light  top" data-mh="generalcard" style="">

            <div class="Information">
                <h1 class="Title" data-mh="generalcard-title" style="">Ukraine support</h1>
                <div class="Details" data-mh="generalcard-details" style="">Advice for people involved in the Ukraine conflict and how you can help</div>
                        <div class="Link right" data-mh="generalcard-link" style="">
                            <a href="https://www.norfolk.gov.uk/safety/migrants-refugees-and-asylum-seekers/ukraine" class="btn-link right">
                                <span>
                                    Ukraine support
                                </span>
                                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                    <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path>
                                                </svg>



                            </a>
                        </div>

            </div>
            </article>
        </div>

            </div>
        </div>



    <div class="t-area-color">
        <div class="services">
            <div class="row row-margin">
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/education-and-learning">Education and learning</a>
                        </h3>

                            <p>Schools, including admissions and transport, Adult Learning and home education</p>

                    </div>
                </div>    
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/rubbish-recycling-and-planning">Rubbish, recycling and planning</a>
                        </h3>

                            <p>Includes recycling centres, flood and water management, land use and ecology</p>

                    </div>
                </div>    
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/what-we-do-and-how-we-work">What we do and how we work</a>
                        </h3>

                            <p>How the Council operates, including our policies, campaigns and Councillor information</p>

                    </div>
                </div>    
                    <div class="clearfix visible-md clearfix visible-lg">

                    </div>
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/roads-and-transport">Roads and transport</a>
                        </h3>

                            <p>Report a highways problem, information on improvement works, public transport and other ways to travel</p>

                    </div>
                </div>    
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/libraries-local-history-and-archives">Libraries, local history and archives</a>
                        </h3>

                            <p>Norfolk libraries, including online resources, historical records and collections</p>

                    </div>
                </div>    
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/children-and-families">Children and families</a>
                        </h3>

                            <p>Includes family support, childcare, early learning, safety and the SEND Local Offer</p>

                    </div>
                </div>    
                    <div class="clearfix visible-md clearfix visible-lg">

                    </div>
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/care-support-and-health">Care, support and health</a>
                        </h3>

                            <p>Health and wellbeing, including coronavirus, social care and support, including Blue Badges</p>

                    </div>
                </div>    
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/births-ceremonies-and-deaths">Births, ceremonies and deaths</a>
                        </h3>

                            <p>Marriages and civil partnerships, copy certificates and other registration services</p>

                    </div>
                </div>    
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/jobs-training-and-volunteering">Jobs, training and volunteering</a>
                        </h3>

                            <p>Current vacancies, training and apprenticeship opportunities and information about volunteering</p>

                    </div>
                </div>    
                    <div class="clearfix visible-md clearfix visible-lg">

                    </div>
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/out-and-about-in-norfolk">Out and about in Norfolk</a>
                        </h3>

                            <p>Making the most of Norfolk's outdoors, including trails and public rights of way</p>

                    </div>
                </div>    
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/business">Business</a>
                        </h3>

                            <p>Includes tendering contracts with the Council, licencing, grants and Trading Standards</p>

                    </div>
                </div>    
                <div class="col-sm-6 col-md-4 navcomponent">
                    <div class="panel navlist" style="">

                        <h3>
                            <a href="https://www.norfolk.gov.uk/safety">Safety</a>
                        </h3>

                            <p>Advice on keeping safe, including emergency disruptions and Fire Service information</p>

                    </div>
                </div>    
                    <div class="clearfix visible-md clearfix visible-lg">

                    </div>
                    </div>

                </div>
        </div>
                





    {# <div class="row">
      <div class="col-md-6 col-margin ">
        <div class="NavListGeneral ">
          <div class="list-title">
            <h2> <a href="https://www.norfolk.gov.uk/news">Latest news</a>                </h2>
          </div>

          <ul>
                <li>
                    <a href="https://www.norfolk.gov.uk/news/2022/11/more-bike-bays-as-norfolk-aims-for-greener-travel">More bike bays as Norfolk aims for greener travel</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/news/2022/11/adult-social-care-digital-initiative-scoops-silver-at-prestigious-national-awards">Adult Social Care digital initiative scoops silver at prestigious national awards</a>
                </li>
                <li>
                    <a href="https://www.norfolk.gov.uk/news/2022/11/public-asked-to-comment-on-fire-and-rescue-service-safety-proposals-for-a-safer-norfolk">Public asked to comment on fire and rescue service safety proposals for a safer Norfolk</a>
                </li>
          </ul>
          <ul>
            <li>
                <a href="https://www.norfolk.gov.uk/news" class="ReadMore">Read more news</a>
            </li>
          </ul>
        
          <div class="see-more">
              <hr>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-margin ">
            
      <div class="promo-card " style="background-image:url(https://www.norfolk.gov.uk/-/media/norfolk/images/promo-cards/ncd-promo.jpg)">
        <div class="card-info-right card-info">
          <h2 class="title">Norfolk Community Directory</h2>
          <div class="content">Find local activities, services and groups</div>
            <a class="btn-primary-teal-std promo-card-button" href="https://communitydirectory.norfolk.gov.uk/">Visit the Directory</a>
          </div>
          <div style="clear: both;"></div>
        </div>

      </div>
    </div> #}

    {# <div class="row">
      <div class="col-md-6 col-margin no-bottom-margin">
            
      <div class="promo-card " style="background-image:url(https://www.norfolk.gov.uk/-/media/norfolk/images/promo-cards/find-local-information-promo.jpg)">
        <div class="card-info-left card-info">
          <h2 class="title">Find local information</h2>
          <div class="content">Find the location of services near you</div>
            <a class="btn-primary-teal-std promo-card-button" href="https://www.norfolk.gov.uk/where-i-live">Find local services</a>
          </div>
          <div style="clear: both;"></div>
        </div>

      </div>
      <div class="col-md-6 col-margin no-bottom-margin">
            
      <div class="promo-card " style="background-image:url(https://www.norfolk.gov.uk/-/media/norfolk/images/promo-cards/email-promo.jpg)">
        <div class="card-info-right card-info">
          <h2 class="title">Sign up for news</h2>
          <div class="content">Subscribe to receive our email newsletters</div>
          <a class="btn-primary-teal-std promo-card-button" href="https://www.norfolk.gov.uk/what-we-do-and-how-we-work/norfolk-county-council-news-and-updates/newsletters">Sign up for email updates</a>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div> #}
  </div>
  </div>
  </div>
  </div>
</div>

<div></div>


    
<div class="feedback">
    <h2 class="feedback_heading">Was this webpage helpful?</h2>
    <div id="smileys" class="smileys">
        <a href="https://websurveys2.govmetric.com/theme/gm/1577?Q_RATINGID=3" target="_blank" class="feedback_option" title="Rate this page as good" rel="nofollow noopener">

            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" aria-hidden="true" focusable="false">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M44 22C44 34.1503 34.1503 44 22 44C9.84974 44 0 34.1503 0 22C0 9.84974 9.84974 0 22 0C34.1503 0 44 9.84974 44 22ZM39.875 22C39.875 31.8721 31.8721 39.875 22 39.875C12.1279 39.875 4.125 31.8721 4.125 22C4.125 12.1279 12.1279 4.125 22 4.125C31.8721 4.125 39.875 12.1279 39.875 22Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1202 13.0625C15.8005 13.0615 16.4658 13.2625 17.0318 13.6398C17.5978 14.0172 18.0392 14.554 18.2999 15.1823C18.5607 15.8106 18.6292 16.5022 18.4967 17.1694C18.3642 17.8367 18.0367 18.4496 17.5557 18.9307C17.0746 19.4117 16.4617 19.7392 15.7944 19.8717C15.1272 20.0042 14.4356 19.9357 13.8073 19.6749C13.179 19.4142 12.6422 18.9728 12.2648 18.4068C11.8875 17.8408 11.6865 17.1755 11.6875 16.4952C11.69 15.5856 12.0525 14.7139 12.6957 14.0707C13.3389 13.4275 14.2106 13.065 15.1202 13.0625Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M28.8702 13.0625C29.5505 13.0615 30.2158 13.2625 30.7818 13.6398C31.3478 14.0172 31.7891 14.554 32.0499 15.1823C32.3107 15.8106 32.3792 16.5022 32.2467 17.1694C32.1142 17.8367 31.7867 18.4496 31.3057 18.9307C30.8246 19.4117 30.2117 19.7392 29.5444 19.8717C28.8772 20.0042 28.1856 19.9357 27.5573 19.6749C26.929 19.4142 26.3922 18.9728 26.0148 18.4068C25.6375 17.8408 25.4365 17.1755 25.4375 16.4952C25.4388 15.5851 25.8008 14.7128 26.4443 14.0693C27.0878 13.4258 27.9601 13.0638 28.8702 13.0625Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2119 27.7485C10.8341 27.3132 11.6914 27.4646 12.1268 28.0869C14.1736 31.0125 17.8078 33.0001 22.0001 33.0001C26.1924 33.0001 29.8266 31.0125 31.8735 28.0869C32.3088 27.4646 33.1661 27.3132 33.7884 27.7485C34.4106 28.1838 34.5621 29.0411 34.1268 29.6633C31.5468 33.3511 27.057 35.7501 22.0001 35.7501C16.9432 35.7501 12.4535 33.3511 9.87347 29.6633C9.43815 29.0411 9.58967 28.1838 10.2119 27.7485Z" fill="black"></path>
            </svg>
            <span class="visually-hidden">Rate this page as good</span>

        </a>

        <a href="https://websurveys2.govmetric.com/theme/gm/1577?Q_RATINGID=2" target="_blank" class="feedback_option" title="Rate this page as average" rel="nofollow noopener">

            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" aria-hidden="true" focusable="false">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M44 22C44 34.1503 34.1503 44 22 44C9.84974 44 0 34.1503 0 22C0 9.84974 9.84974 0 22 0C34.1503 0 44 9.84974 44 22ZM39.875 22C39.875 31.8721 31.8721 39.875 22 39.875C12.1279 39.875 4.125 31.8721 4.125 22C4.125 12.1279 12.1279 4.125 22 4.125C31.8721 4.125 39.875 12.1279 39.875 22Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1202 13.0625C15.8005 13.0615 16.4658 13.2625 17.0318 13.6398C17.5978 14.0172 18.0392 14.554 18.2999 15.1823C18.5607 15.8106 18.6292 16.5022 18.4967 17.1694C18.3642 17.8367 18.0367 18.4496 17.5557 18.9307C17.0746 19.4117 16.4617 19.7392 15.7944 19.8717C15.1272 20.0042 14.4356 19.9357 13.8073 19.6749C13.179 19.4142 12.6422 18.9728 12.2648 18.4068C11.8875 17.8408 11.6865 17.1755 11.6875 16.4952C11.69 15.5856 12.0525 14.7139 12.6957 14.0707C13.3389 13.4275 14.2106 13.065 15.1202 13.0625Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M28.8702 13.0625C29.5505 13.0615 30.2158 13.2625 30.7818 13.6398C31.3478 14.0172 31.7891 14.554 32.0499 15.1823C32.3107 15.8106 32.3792 16.5022 32.2467 17.1694C32.1142 17.8367 31.7867 18.4496 31.3057 18.9307C30.8246 19.4117 30.2117 19.7392 29.5444 19.8717C28.8772 20.0042 28.1856 19.9357 27.5573 19.6749C26.929 19.4142 26.3922 18.9728 26.0148 18.4068C25.6375 17.8408 25.4365 17.1755 25.4375 16.4952C25.4388 15.5851 25.8008 14.7128 26.4443 14.0693C27.0878 13.4258 27.9601 13.0638 28.8702 13.0625Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6875 30.25C11.6875 29.4906 12.3031 28.875 13.0625 28.875H30.9375C31.6969 28.875 32.3125 29.4906 32.3125 30.25C32.3125 31.0094 31.6969 31.625 30.9375 31.625H13.0625C12.3031 31.625 11.6875 31.0094 11.6875 30.25Z" fill="black"></path>
            </svg>
            <span class="visually-hidden">Rate this page as average</span>
        </a>

        <a href="https://websurveys2.govmetric.com/theme/gm/1577?Q_RATINGID=4" target="_blank" class="feedback_option" title="Rate this page as poor" rel="nofollow noopener">

            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" aria-hidden="true" focusable="false">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M44 22C44 34.1503 34.1503 44 22 44C9.84974 44 0 34.1503 0 22C0 9.84974 9.84974 0 22 0C34.1503 0 44 9.84974 44 22ZM39.875 22C39.875 31.8721 31.8721 39.875 22 39.875C12.1279 39.875 4.125 31.8721 4.125 22C4.125 12.1279 12.1279 4.125 22 4.125C31.8721 4.125 39.875 12.1279 39.875 22Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1202 13.0625C15.8005 13.0615 16.4658 13.2625 17.0318 13.6398C17.5978 14.0172 18.0392 14.554 18.2999 15.1823C18.5607 15.8106 18.6292 16.5022 18.4967 17.1694C18.3642 17.8367 18.0367 18.4496 17.5557 18.9307C17.0746 19.4117 16.4617 19.7392 15.7944 19.8717C15.1272 20.0042 14.4356 19.9357 13.8073 19.6749C13.179 19.4142 12.6422 18.9728 12.2648 18.4068C11.8875 17.8408 11.6865 17.1755 11.6875 16.4952C11.69 15.5856 12.0525 14.7139 12.6957 14.0707C13.3389 13.4275 14.2106 13.065 15.1202 13.0625Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M28.8702 13.0625C29.5505 13.0615 30.2158 13.2625 30.7818 13.6398C31.3478 14.0172 31.7891 14.554 32.0499 15.1823C32.3107 15.8106 32.3792 16.5022 32.2467 17.1694C32.1142 17.8367 31.7867 18.4496 31.3057 18.9307C30.8246 19.4117 30.2117 19.7392 29.5444 19.8717C28.8772 20.0042 28.1856 19.9357 27.5573 19.6749C26.929 19.4142 26.3922 18.9728 26.0148 18.4068C25.6375 17.8408 25.4365 17.1755 25.4375 16.4952C25.4388 15.5851 25.8008 14.7128 26.4443 14.0693C27.0878 13.4258 27.9601 13.0638 28.8702 13.0625Z" fill="black"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M33.7881 32.7516C33.1659 33.1869 32.3086 33.0355 31.8732 32.4132C29.8264 29.4876 26.1921 27.5 21.9998 27.5C17.8076 27.5 14.1733 29.4876 12.1265 32.4132C11.6912 33.0355 10.8339 33.1869 10.2116 32.7516C9.58943 32.3163 9.4379 31.459 9.87323 30.8368C12.4532 27.149 16.943 24.75 21.9998 24.75C27.0567 24.75 31.5465 27.149 34.1265 30.8368C34.5618 31.459 34.4103 32.3163 33.7881 32.7516Z" fill="black"></path>
            </svg>

            <span class="visually-hidden">Rate this page as poor</span>

        </a>
    </div>

</div>

-->

<footer>
	<div class="container">
        <div class="row footerServicesMenuBorder">
            {# <div class="col-md-8">
                
<h2>Services</h2>
<hr>
<ul class="footerServicesMenu">
        <li>
            <a href="https://www.norfolk.gov.uk/accessibility-statement">Accessibility statement</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/births-ceremonies-and-deaths">Births, ceremonies and deaths</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/business">Business</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/care-support-and-health">Care, support and health</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/children-and-families">Children and families</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/education-and-learning">Education and learning</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/jobs-training-and-volunteering">Jobs, training and volunteering</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/libraries-local-history-and-archives">Libraries, local history and archives</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/out-and-about-in-norfolk">Out and about in Norfolk</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/roads-and-transport">Roads and transport</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/rubbish-recycling-and-planning">Rubbish, recycling and planning</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/safety">Safety</a>
        </li>
        <li>
            <a href="https://www.norfolk.gov.uk/what-we-do-and-how-we-work">What we do and how we work</a>
        </li>
</ul>


            </div> #}
            <div class="col-md-4">
                
<div class="connectLinks">
    <h2>Connect</h2>
    {# <hr> #}
    <ul>
            <li><a class="facebook" href="https://www.facebook.com/Norfolkcc" target="_blank">Facebook</a></li>
            <li><a class="twitter" href="https://twitter.com/NorfolkCC" target="_blank">Twitter</a></li>
    </ul>
</div>
            </div>
        {# </div>
        <div class="row footerLogos">
            <img src="https://www.norfolk.gov.uk/-/media/norfolk/developer/ncc_footer.png" alt="Disability Confident Leader">

                    <a href="https://www.norfolk.gov.uk/what-we-do-and-how-we-work/have-your-say/translation-services"><img src="https://www.norfolk.gov.uk/-/media/norfolk/developer/intran_logo_transparent.png" alt="INTRAN interpretation and translation services"></a>

        </div>
        <div class="row">
            <div class="col-md-12">
                
<ul class="footerNav">
		<li>
			<a href="https://www.norfolk.gov.uk/what-we-do-and-how-we-work/have-your-say/contact-norfolk-county-council">Contact Norfolk County Council</a>
		</li>
		<li>
			<a href="https://www.norfolk.gov.uk/site-directory">Site map</a>
		</li>
		<li>
			<a href="https://www.norfolk.gov.uk/what-we-do-and-how-we-work/open-data-fois-and-data-protection/data-protection/website-disclaimer">Disclaimer</a>
		</li>
		<li>
			<a href="https://www.norfolk.gov.uk/what-we-do-and-how-we-work/open-data-fois-and-data-protection/data-protection/privacy-notices/privacy-and-cookies">Website privacy and cookies</a>
		</li>
		<li>
			<a href="https://www.norfolk.gov.uk/accessibility-statement">Accessibility statement</a>
		</li>
</ul>
            </div>
        </div> #}
        <div class="row">
            <div class="col-md-12 text-center">
                © 2015-2022 Norfolk County Council
            </div>
        </div>
	</div>
</footer>
    
    

<script src="//www.norfolk.gov.uk/bundles/norfolk/js?v=5Be6Vl5aTYB3uggtpyLJICwCwFxPGJXfM_6C0bpQvDM1"></script>

<script src="//www.norfolk.gov.uk/bundles/norfolk/unobtrusive?v=Xuam6TWPhcGt1QT7p5fexG3T-XZA9hjh88zJ89jkDQQ1"></script>



<script src="//websurveys2.govmetric.com/js/client/gm_sidebar.js" type="text/javascript"></script>
    <script src="//hitcounter.govmetric.com/1578" type="text/javascript"></script>



</div>

<script type="text/javascript">
    function InitialiseC4A() {

        // Every Chat Experience used below must be a popup (not embedded)
        // The varible below must match the id of the img used for the chat button

        var ChatImgId = 'customLiveChatButton';

        // ###########################
        // ScriptID=1 (Only used for Testing on the C4A/UAT page)
        if (location.href.toLowerCase().indexOf("www.click4assistance.co.uk/uat/norfolkcc") != -1 ||
            location.href.toLowerCase().indexOf("stuff/norfolkcc.html") != -1) {
            var myChatTool = new C4A.Tools(1, ChatImgId);
        }
        // ###########################


        // ScriptID=1
        if (location.href.toLowerCase().indexOf("www.norfolk.gov.uk/what-we-do-and-how-we-work/have-your-say/contact-norfolk-county-council") != -1) {
            var myChatTool = new C4A.Tools(1, ChatImgId);
            C4A.Run('EE7B45EB-6AE4-4647-9D78-C180455DFAFE');
        }
        // ScriptID=2
        if (location.href.toLowerCase().indexOf("test.norfolk.gov.uk/what-we-do-and-how-we-work/have-your-say/contact-norfolk-county-council") != -1) {
            var myChatTool = new C4A.Tools(2, ChatImgId);
            C4A.Run('EE7B45EB-6AE4-4647-9D78-C180455DFAFE');
        }
        // ScriptID=3
        if (location.href.toLowerCase().indexOf("care-support-and-health/disabilities/blue-badges") != -1 ||
            location.href.toLowerCase().indexOf("care-support-and-health/support-for-living-independently/travel-and-transport/blue-badges") != -1 ||
            location.href.toLowerCase().indexOf("roads-and-transport/public-transport/buses/concessionary-travel-pass/age-related-travel-pass") != -1 ||
            location.href.toLowerCase().indexOf("roads-and-transport/public-transport/buses/concessionary-travel-pass/disabled-travel-pass") != -1) {
            var myChatTool = new C4A.Tools(3, ChatImgId);
            C4A.Run('EE7B45EB-6AE4-4647-9D78-C180455DFAFE');
        }
        // ScriptID=4
        if (location.href.toLowerCase().indexOf("education-and-learning/school-and-college-transport/home-to-school-transport") != -1 ||
            location.href.toLowerCase().indexOf("education-and-learning/schools/school-admissions") != -1 ||
            location.href.toLowerCase().indexOf("education-and-learning/adult-learning/courses") != -1 ||
            location.href.toLowerCase().indexOf("education-and-learning/adult-learning/apprenticeships") != -1) {
            var myChatTool = new C4A.Tools(4, ChatImgId);
            C4A.Run('EE7B45EB-6AE4-4647-9D78-C180455DFAFE');
        }
        // ScriptID=5
        /*if (location.href.toLowerCase().indexOf("www.norfolk.gov.uk/safety") != -1 ||
            location.href.toLowerCase().indexOf("rubbish-recycling-and-planning") != -1) {
            var myChatTool = new C4A.Tools(5);
            C4A.Run('EE7B45EB-6AE4-4647-9D78-C180455DFAFE');
        }*/
        if (location.href.toLowerCase().indexOf("births-ceremonies-and-deaths/marriages-and-civil-partnerships") != -1 ||
            location.href.toLowerCase().indexOf("libraries-local-history-and-archives/libraries/library-services/information-service") != -1) {
            var myChatTool = new C4A.Tools(1, ChatImgId);
            C4A.Run('EE7B45EB-6AE4-4647-9D78-C180455DFAFE');
        }
        if (location.href.toLowerCase().indexOf("care-support-and-health/support-for-living-independently/money-and-benefits/direct-payment-support-service") != -1) {
            var Tool1 = new C4A.Tools(1, ChatImgId);
            C4A.Run('4ff484de-0b0d-4c01-8a74-278d96d4182f');
        }
    }
</script>
<noscript><a href="https://www.click4assistance.co.uk/add-live-chat-software-click4assistance-uk" target="_blank" style="font-size:10px;position:fixed;bottom:2px;right:2px;">Click4Assistance UK Live Chat Software</a></noscript>
<script src="https://v4in1-si.click4assistance.co.uk/SI.js" type="text/javascript" defer="defer"></script>

<ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" tabindex="0" style="display: none;"></ul><span role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></span>
</body>

{% endblock %}